* {
    margin: 0;
    padding: 10px;
    background-origin: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    background-color: whitesmoke;
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    height: 50px;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    border: 1px solid;
    place-items: center;
    color: white;
    background-color: blue;
    font-size: 25px;
}

.calculator span:active {
    background: #777777;
    color: #1111;
}

.calculator span:hover {
    color: yellow;
    background: yellowgreen;
}

.calculator span.clear {
    grid-column: span 2;
    width: 142px;
    background-color: red;
}

.calculator span.equal {
    grid-column: span 3;
    width: 227px;
    background-color: orange;
}