body {
    background-color: #add8e6;
    padding: 0px;
    margin: 0px;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.header {
    height: 82px;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.logo {
    overflow: hidden;
    height: 37px;
    width: 170px;
    margin: 18px 0 0 0;
}

.image-logo {}

.header-content {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

.email {
    float: left;
}

.password {
    height: 100px;
}

.form-input {
    float: left;
    height: 14px;
    width: 140px;
}

.button-login {
    height: 18px;
    width: 36px;
    float: left;
}